<!doctype html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('.add_sb_form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/push_config',
                data: $('form').serialize(),
            });
        });
     </script>
    <script type="text/javascript">
        $('.del_sb_form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/del_sb',
                data: $('form').serialize(),
            });
        });
    </script>
    <script type="text/javascript">
        $('.edit_sb_form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/edit_sb',
                data: $('form').serialize(),
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#sb_edit_select').on('change', function() {
                var sb_name = this.value;
                function get_sb_config(sb_name) {
                    console.log(sb_name)
                    return $.ajax({
                        type: 'POST',
                        url: '/get_sb_details',
                        data: sb_name
                    });
                };
                if (sb_name != "") {
                    get_sb_config(sb_name).done( function(data) {
                        var config_data = data;
                        $('input[name="vid_url_edit"]').val(config_data['url']);
                        $('input[name="sb_name_edit"]').val(config_data['name']);
                        $('input[name="vid_ts_edit"]').val(config_data['ts']);
                        $('input[name="sb_length_edit"]').val(config_data['clip_duration']);
                        $('input[name="sb_volume_edit"]').val(config_data['volume']);
                    });
                };
            });
        })
    </script>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sb.css') }}">
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg">
    <title>DnD Soundboard Configs</title>
    <div class="content_bg">
        <div style="text-align:left;font-family:Tahoma">
            <h2>Fiddle with configs and upload new files here</h2>
            <div style="text-align:left">
                <a href="{{ url_for('soundboard_ui') }}" style="font-size:19px;font-family:Tahoma">
                    Back to Soundboard
                </a>
            </div>
            <br>
            <h3>Add new soundbites</h3>
            <form action="{{ url_for('push_config') }}" method='POST' style="font-family:Tahoma" class="add_sb_form">
                <table>
                    <tr>
                        <td><label for="vid_url">Video URL (No Shorts!):</label></td>
                        <td><input type="text" id="vid_url" name="vid_url" size=50 required></td>
                    </tr>
                    <tr>
                        <td><label for="sb_name">Soundbite Name:</label></td>
                        <td><input type="text" id="sb_name" name="sb_name" size=35 required></td>
                    </tr>
                    <tr>
                        <td><label for="vid_ts">Starting Timestamp (s):</label></td>
                        <td><input type="text" id="vid_ts" name="vid_ts" value="0" required></td>
                    </tr>
                    <tr>
                        <td><label for="sb_length">Soundbite Length (s):</label></td>
                        <td><input type="text" id="sb_length" name="sb_length" value="10" required></td>
                    </tr>
                    <tr>
                        <td><label for="sb_volume">Soundbite Volume (0-1):</label></td>
                        <td><input type="text" id="sb_volume" name="sb_volume" value="0.8" required></td>
                    </tr>
                </table>
                <button type="submit">Add New Soundbite</button>
            </form>
            <h3>Edit existing soundbites</h3>
                <form action="{{ url_for('edit_sb') }}" method='POST' class="edit_sb_form">
                    <table>
                        <tr>
                            <td><label for="sb_to_edit">Soundbite Name:</label></td>
                            <td>
                                <select name="sb_to_edit" id="sb_edit_select">
                                    <option selected disabled value="">Pick a soundbite</option>
                                    {% for sb_tuple in sb_tuples %}
                                        <option value="{{sb_tuple[1]}}" name="sb_to_edit">{{sb_tuple[0]}}</option>"
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="vid_url_edit">Video URL (No Shorts!):</label></td>
                            <td><input type="text" id="vid_url_edit" name="vid_url_edit" size=50 required></td>
                        </tr>
                        <tr>
                            <td><label for="sb_name_edit">Soundbite Name (no change to ID):</label></td>
                            <td><input type="text" id="sb_name_edit" name="sb_name_edit" size=35 required></td>
                        </tr>
                        <tr>
                            <td><label for="vid_ts_edit">Starting Timestamp (s):</label></td>
                            <td><input type="text" id="vid_ts_edit" name="vid_ts_edit" required></td>
                        </tr>
                        <tr>
                            <td><label for="sb_length_edit">Soundbite Length (s):</label></td>
                            <td><input type="text" id="sb_length_edit" name="sb_length_edit" required></td>
                        </tr>
                        <tr>
                            <td><label for="sb_volume_edit">Soundbite Volume (0-1):</label></td>
                            <td><input type="text" id="sb_volume_edit" name="sb_volume_edit" required></td>
                        </tr>
                    </table>
                    <button type="submit">Edit Soundbite</button>
                </form>
            <h3>Delete soundbites</h3>
                <form action="{{ url_for('del_sb') }}" method='POST' class="del_sb_form">
                    <table>
                        <tr>
                            <td><label for="sb_to_delete">Soundbite Name:</label></td>
                            <td>
                                <select name="sb_to_delete" id="sb_to_delete">
                                    <option selected disabled value="">Pick a soundbite</option>
                                    {% for sb_tuple in sb_tuples %}
                                        <option value="{{sb_tuple[1]}}">{{sb_tuple[0]}}</option>"
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="submit">Delete Soundbite</button>
                </form>
        </div>
    </div>
</body>
